# 3Q貢丸 LINE Bot 環境袸數
# 兩個值都從 LINE Developers Console 取得
# 取得後此檔絕對不上傳 Git,不貼進對話,不拍照
#
# 取得方式:
# 1. LINE Developers Console → 3Q貢丸 channel → Basic settings
#    → Channel secret 旁眼睛圖示 → 複製貼到下方第一個值
#
# 2. LINE Developers Console → 3Q貢丸 channel → Messaging API
#    → Channel access token 區塊 → 點 Issue(有效期選 30 days)
#    → 複製貼到下方第二個值
#
# 貼完關掉此檔,不再開啟

LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=

# 歡迎圖片(選填)
# 上傳 welcome-banner-1200x628.png 到 Imgur 或其他圖床,貼公開 URL
# 留空則加好友時只發文字訊息
WELCOME_IMAGE_URL=
